version: '3.8'

services:
  web:
    image: beanbeansb/python-lucky:latest
    container_name: python-api-container
    expose:
      - "8000"
    command: uvicorn tmp_server:app --host 0.0.0.0 --port 8000 

  nginx:
    image: nginx:latest
    container_name: nginx-container
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro 
    depends_on:
      - web